<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adompo.ayyash.behay">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UtamaActivity" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Register" />
        <activity
            android:name=".TinggiBadan"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".BeratBadan"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity android:name=".FormActivityToday" />
        <activity
            android:name=".FormLemak"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog" />
        <activity android:name=".TipsSehatDetail" />
        <activity android:name=".ListActivity" />
        <activity android:name=".DetilAktifitas" />
        <activity android:name=".SarapanActivity" />
        <activity android:name=".ListSarapan" />
        <activity
            android:name=".NewMessage"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".DetailMakanPagi" />
        <activity android:name=".Profile" />
        <activity android:name=".Support" />
        <activity android:name=".Syarat" />
        <activity android:name=".Panduan"></activity>
    </application>

</manifest>